@import '~node_modules/modern-normalize/modern-normalize.css';

$darktheme-border-black: #111111;
$background-dark: #202024;
$button-background: #4f2ee8;
$hover-yellow: #eac645;
$light-background: #ffffff;
$category-backgr-color-grey: #b4afaf;

button {
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
