@import '~node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/swiper/swiper-bundle.min.css';
$darktheme-border-black: #111111;
$background-dark: #202024;
$button-background: #4f2ee8;
$hover-yellow: #eac645;
$light-background: #ffffff;
$category-backgr-color-grey: #f6f6f6;
$category-autors-text: #b4afaf;

$main-font: 'DM Sans', sans-serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

body {
  font-family: $main-font;
  color: $darktheme-border-black;
  background: $category-backgr-color-grey;
  min-height: 100%;
  margin: 0 auto;

  width: 375px;
  @media screen and (min-width: 768px) {
   width:768px;
  }
  @media screen and (min-width: 1440px) {
    width:1440px;
  }

}

button {
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
