<header>
    <div class="container">
        <div class="wrapper">
            <a class="logo" href="./index.html">
                <!-- <div class="header__logo"> -->
                <svg class="header__logo--icon" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <!-- </div> -->
                <svg class="logo__text" width="77px" height="14px">
                    <use href="./images/sprite.svg#icon-Bookshelf"></use>
                </svg>
            </a>
        </div>

        <nav class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item"><a class="navigation-link" href="./index.html">Home</a></li>

                <li class="navigation-item">

                    <a class="navigation-link"  href="./partials/shoping-list-section.html">
                 
                            <span>Shopping List</span>
                            <svg class="navigation-link-icon" width="20" height="20">
                                <use href="./images/icons.svg#icon-cart"></use>
                            </svg>
      
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-switcher-btn">
            <div class="theme-switcher">
                <label class="form-switch">
                    <input type="checkbox" id="theme-switch-toggle" />
                    <i></i>
                </label>
            </div>

            <button type="button" class="open-menu-icon">
                <svg class="open-menu-icon-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-menu-burger"></use>
                </svg>
            </button>
            <button type="button" class="close-menu-icon is-hidden">
                <svg width="28" height="28">
                    <use href="./images/icons.svg#icon-x-close"></use>
                </svg>
            </button>

            <button class="button_signup button_signup--header js-signup-btn" type="button" data-modal-open>
                <div class="button_signup-thumb">
                    <span class="button_signup-text">Sign up</span>
                    <svg class="button_signup-icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </div>
            </button>

            <!-- <button class="button_user">
                <div class="avatar">
                  <img class="avatar_img" src="./images/face.jpeg" alt="">
                </div>
                Stephen
                <svg width="23" height="26">
                  <use href="./images/icons.svg#icon-caret-down"></use>
                </svg>
            </button> -->
        </div>
    </div>


    <!-- <div class="authentication">
        <button class="js-signup-btn" type="button" value="" data-modal-open>Sign up</button> -->

    <button class=" js-signout" type="button" value="">Log out</button>
    <!-- submit-out // it is class for this button-->

    <!-- </div> -->


</header>
<!-- <div class="burger-menu is-hidden">
    <div class="burger-conteiner">
        <div class="user-burger">
            <div class="avatar">
                <img class="avatar_img" src="" alt="">
            </div>
            <p class="user-name">Stephen</p>
        </div>

        <nav class="navigation-burger">
            <ul class="navigation-burger-list">
                <li class="navigation-item navigation-burger-item"><a class="navigation-link" href="#">Home</a></li>
                <li class="navigation-item navigation-burger-item">
                    <a class="navigation-link" href="#">Shopping List
                        <svg width="20" height="20">
                            <use href="./images/icons.svg#icon-lock"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <button class="button_logout btn-logout-burger " type="button">Log out
            <svg width="20" height="20">
                <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button>
    </div>
</div> -->