<section class=" backdrop-singup " data-modal>
    <!--container__log-in hidden -->
    <div class="modal-log">
        <button class="modal-log__button-close" data-modal-close>
            <svg class="modal-log__button-close-icon">
                <use href="./images/icons.svg#icon-x-close"></use>
            </svg>
        </button>

        <div class="forms">
            <div class="signup-cont cont">
                <form action="submit" method="post" enctype="multipart/form-data"
                    class="signup-cont__form js-form-signup">
                    <div class="form-fields">
                        <input type="name" name="name" id="name" class="inpt" required="required" placeholder="NAME">
                        <label for="name">name</label>
                        <input type="email" name="email" id="email" class="inpt" required="required"
                            placeholder="email">
                        <label for="email">email</label>
                        <input type="password" name="password" id="password" class="inpt" required="required"
                            placeholder="password">
                        <label for="password">password</label>
                    </div>
                    <div class="submit-wrap">
                        <input type="submit" value="Sign up" class="submit">
                    </div>
                </form>
            </div>
            <div class="signin-cont cont hidden">
                <form action="submit" method="post" enctype="multipart/form-data"
                    class="signup-cont__form js-form-signin">
                    <div class="form-fields">
                        <input type="email" name="email" id="email" class="inpt" required="required"
                            placeholder="email">
                        <label for="email">email</label>
                        <input type="password" name="password" id="password" class="inpt" required="required"
                            placeholder="password">
                        <label for="password">password</label>
                    </div>

                    <div class="submit-wrap">
                        <input type="submit" value="Sign in" class="submit">
                    </div>
                </form>
            </div>
            <div class="tabs">
                <div class="tab signup js-tab active">
                    <!-- <a href="#signup"> -->
                    Sign up
                    <!-- </a> -->
                </div>
                <div class="tab signin js-tab">
                    <!-- <a href="#signin"> -->
                    Sign in
                    <!-- </a> -->
                </div>
            </div>
        </div>
        </article>
</section>