<div class="backdrop js-backdrop">
    <div class="modal">
      
      <button type="button" class="modal__button-close" data-action="close-modal">
        <svg width="24" height="24" class="modal__button-close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
        
      <div class="modal__book-card js-book-card"></div>
      
      <div class="modal__but-thumb">
        <button type="button" class="modal__button-shopping-list" data-action="shopping-list-modal">Add to shopping list</button>
      </div>
      <p class="modal__text js-modal-text">Сongratulations! You have added the book to the<br/>shopping list. To delete, press the button “Remove from<br/>the shopping list”.</p>
     </div>
     
  </div>