.swiper {
  height: 204px;
  @media screen and (min-width: $tablet) {
    height: 296px;
    
  }
}

.swiper__scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
  width: 6px; /* Ширина скролла */
}

&::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border-radius: 12px;
}

&::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона скролла */
}
}
.swiper--tablet {
  @media screen and (min-width: $tablet) {
    height: 306px;
    height: auto;
    overflow: visible;
  }
}

.up {
  transform: rotate(180deg);
}
