.swiper {
  height: 204px;
  @media screen and (min-width: $tablet) {
    height: 296px;
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
  width: 4px; /* Ширина скролла */
}

&::-webkit-scrollbar-thumb {
  background-color: $light-background; /* Цвет ползунка скролла */
}

&::-webkit-scrollbar-track {
  background-color: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    $button-background 18.03%,
    $light-background 100%
  ); /* Цвет фона скролла */
}
}

.swiper--tablet {
  @media screen and (min-width: $tablet) {
    height: 306px;
    height: auto;
    overflow: visible;
  }
}

.up {
  transform: rotate(180deg);
}
