header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  height: 72px;
  margin: 0;
  top: 0px;
  width: 100%;
  background: $light-background;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
.logo {
}
.header__logo {
}
.header__logo--icon {
}
.logo__text {
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 11px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.3s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    height: 72px;
  }
}

.navigation{
  &-list{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-item{
    padding: 8px 16px;
    border-radius: 36px;
    text-align: center;
    color: $darktheme-border-black;
  
    &:hover, &:focus{
      background-color: $hover-yellow;
      color: $darktheme-border-black;
    }
  }
  &-link{
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  
    color: inherit;
  }
}

.navigation-burger{
  margin-top: 183px;
  &-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 9px;
  }
  &-item{
    color:$light-background;
  }
}

.btn-logout-burger{
  position: absolute;
  left: 20px;
  bottom: 80px;
}

.btn-user-burger{
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: transparent;
  border: 0px;
}

.burger-menu-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d11212;
}

.menu-icon{
  fill: $darktheme-border-black;
}

.burger-conteiner{
  position: fixed;
  z-index: 1;
  top: 64px;
  width: 100%;
  height: 100%;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, 
  $button-background 18.03%, 
  $light-background 100%);
}