.bookShell {
  
  margin-bottom: 80px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;


@media screen and (min-width: $mobile) {
  margin-right: 32px;
  margin-left: 32px;
  
      }
      @media screen and (min-width: $desktop) {
       // margin-left: 420px;
        margin-right: 24px;
        
        
            }

  &__title{
    color: $darktheme-border-black;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin-top: 40px;
    margin-left: 20px;

    @media screen and (min-width: $mobile) {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.08;
     // margin-top: 100px;
      margin-left: 32px;
      }
      @media screen and (min-width: $desktop) {
      // margin-left: 420px;
            }
  }
  &__title_span {
    color: $button-background;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    @media screen and (min-width: $mobile) {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.08;
      }
  }
  }

  .bookShell-category{
    @media screen and (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      }
      @media screen and (min-width: $tablet) {
        
        max-width: 996px;
        
            }
  }

  .book{
    
    position: relative;
    margin-top: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 86px;
        max-width: 996px;
        margin-bottom: 0px;
            }
    &__button {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      padding: 14px;
      position: absolute;
      right: 0;
      width: 124px;
      height: 46px;
      background-color: $light-background;
      border: 2px solid $button-background;
      border-radius: 40px;
      color: $darktheme-border-black;

      &:hover,
      &:focus {
    background-color: $button-background;
    color: $light-background;
  }
    }

  &__list {
    @media screen and (min-width: $mobile) {
    display: flex;
    gap: 25px;
    }
   
  }
  &__item{
    @media screen and (min-width: $mobile) {
      width: 218px;
      height: auto;
      }
    
  }
    &__category {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      padding-bottom: 18px;
      text-align: start;
      color: $category-autors-text;
      padding-top: 40px;

      @media screen and (min-width: $mobile) {
        line-height: 1.71;
        }
    }
    &__img {
      cursor: pointer;
      max-width: 100%;
      width: 335px;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      text-align: start;

      @media screen and (min-width: $mobile) {
        max-width: 100%;
        width: 218px;
        height: 316px;
      }

      @media screen and (min-width: $tablet) {
        max-width: 100%;
        width: 180px;
        height: 256px;
      }
    }
    &__title {
      cursor: pointer;
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      letter-spacing: -0.04em;
      text-transform: uppercase;      
      color: $darktheme-border-black;
      padding-bottom: 4px;
      padding-top: 14px;
      text-align: start;
    }
    &__author {
      cursor: default;
      font-family: $main-font;
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: -0.04em;
      padding-bottom: 8px;
      text-align: start;
      color: $category-autors-text;
      @media screen and (min-width: $mobile) {
        padding-bottom: 20px;
        }
        @media screen and (min-width: $tablet) {
          padding-bottom: 32px;
          }
    }
    
    
  }

  .author{
    padding-bottom: 0px;
  }
    
.book-image-container {
      position: relative;
      display: inline-block;
      height: auto;
      overflow: hidden;
      
      }
      
      .quick-view {
        cursor: pointer;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% / 4.5);
        padding: 5px;
        border-radius: 0px 0px 8px 8px;
        text-align: center;
        box-sizing: border-box;
        background-color: $hover-yellow;
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      .book-image-container:hover .quick-view {
        opacity: 1;
      }

      .bookShell-category .book {
        flex-basis: calc(100% / 3 - 20px);
        box-sizing: border-box;

        @media  (min-width:780px) {
          flex-basis: calc(100% / 5 - 20px);
          }
          
      } 

      .card.book:first-child {
       margin-top: 0;
}
      

.main-thumb{
  display: flex;
}
      
    
    