.shoping-list {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.shoping-list__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-size: 32px;
  line-height: 1.19;
  font-weight: 700;
  color: $darktheme-border-black;
}

@media screen and (min-width: $tablet) {
  .shoping-list__title {
    font-size: 48px;
    margin-bottom: 140px;
  }
}

.shoping-list__title-span {
  color: #4f2ee8;
}

@media screen and (min-width: $tablet) {
  .shoping-list__title-span {
    font-size: 48px;
  }
}

.shoping-list__card {
  display: flex;
  align-items: center;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  height: 177px;
}

@media screen and (min-width: $mobile) {
  .shoping-list__card {
    padding: 14px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $tablet) {
  .shoping-list__card {
    height: 213px;
    padding: 24px;
  }
}

.shoping-list__img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-right: 14px;
  border-radius: 8px;
}

.shoping-list__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 4px 0;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  color: $darktheme-border-black;
}

.shoping-list__bind {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: $category-autors-text;
}

.shoping-list__details {
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $darktheme-border-black;
}

.shoping-list__author {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: $category-autors-text;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shoping-list__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.shoping-list__text-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 193px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.shoping-list__second-text-container {
  display: flex;
  flex-direction: column;
  min-width: 144px;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.shoping-list__button-container {
  display: flex;
  justify-content: space-between;
}

.shoping-list__button {
  align-self: flex-start;
  height: 24px;
  width: 24px;
  padding: 0;
}

.shoping-list__links {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}

.shoping-list__svg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shoping-list__empty-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

@media screen and (min-width: $mobile) {
  .shoping-list__empty-page {
    width: 265px;
  }
}

@media screen and (min-width: $tablet) {
  .shoping-list__empty-page {
    width: 349px;
    margin-top: 140px;
    font-size: 18px;
  }
}

.shoping-list__empty-text {
  margin-bottom: 14px;
  text-align: center;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

@media screen and (min-width: $tablet) {
  .shoping-list__empty-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
