.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 404px;
  height: 100%;
  background-color: $light-background;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
<<<<<<< Updated upstream
.aside-list-button{
      color: rgba(17, 17, 17, 0.6);
      background-color: transparent;
}
.selected-category{
  color: #4F2EE8;
=======

.aside-list-button {
  color: rgba(17, 17, 17, 0.6);
  background-color: transparent;
}

.selected-category {
  color: #4f2ee8;
>>>>>>> Stashed changes
}

.aside-list-button {
  color: rgba(17, 17, 17, 0.6);
  background-color: transparent;
  transition: color 0.5s ease-in-out;
}

.aside-list-button:hover,
.aside-list-button:focus {
  color: #4f2ee8;
  transition: color 0.5s ease-in-out;
}

.selected-category {
  color: #4f2ee8;
}

.aside-list {
  width: 356px;
  height: 472px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  overflow: auto;
  margin-top: 40px;
  margin-bottom: 86px;
  border-radius: 15px;
}

/* Стилізація прокрутки */
.aside-list::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

.aside-list::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 12px;
}

.aside-list::-webkit-scrollbar-track {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .sidebar {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}