.sidebar {
  // position: relative;
  // top: 0;
  // left: 0;
  //width: 404px;
  height: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  z-index: 2;

  display:block;
  @media screen and (min-width: 768px) {
    display:flex;
    padding: 40px 32px;
  }
  @media screen and (min-width: 1440px) {
    display:block;
    padding-left: 24px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.selected-category {
  color: #4f2ee8;
}

.aside-list-button {
  color: rgba(17, 17, 17, 0.6);
  background-color: transparent;
  transition: color 0.25s ease-in-out;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.6);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.333px;
  }
 
}

.aside-list-button:hover,
.aside-list-button:focus {
  color: #4f2ee8;
  transition: color 0.25s ease-in-out;
}

.aside-list {
  width: 356px;
  height: 472px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  overflow: auto;
  //margin-top: 40px;

  border-radius: 15px;
  @media screen and (min-width: 768px) {
    row-gap: 32px;
  }

}

/* Стилізація прокрутки */
.aside-list::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

.aside-list::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

.aside-list::-webkit-scrollbar-track {
  background-color: transparent;
}

// @media only screen and (max-width: 768px) {
//   .sidebar {
//     display: block;
//     position: relative;
//     width: 100%;
//     height: auto;
//     margin-bottom: 20px;
//   }
// }
// @media only screen and (max-width: 480px) {
//   .sidebar {
//     display: block;
//     position: relative;
//     width: 100%;
//     height: auto;
//     margin-bottom: 20px;
//   }
// }

